ocrTest/__pycache__/db_connection.cpython-310.pyc
pdfReader/pdfTest.docx
pdfReader/controller/__pycache__/getPDFtext.cpython-310.pyc
pdfReader/model/__pycache__/FirebasePdf.cpython-310.pyc
pdfReader/__pycache__/pdfMain.cpython-310.pyc
ocrTest/model/__pycache__/checkCategory.cpython-310.pyc
ocrTest/__pycache__/db_connection.cpython-310.pyc
ocrTest/ocrunderLawflowKEY.json
ocrTest/ocrtest-359110-64b82f4fa200.json
ocrTest/lawflow.json
ocrTest/lawflow-new.json
ocrTest/lawflow-new.json
ocrTest/view/__pycache__
ocrTest/model/__pycache__
ocrTest/controller/__pycache__
ocrTest/__pycache__
ocrTest/__pycache__/db_connection.cpython-310.pyc
ocrTest/__pycache__/ocr1.cpython-310.
ocrTest/controller/__pycache__
__pycache__/
ocrTest/controller/__pycache__/getOcrText.cpython-310.pyc

/WorkFlow1/__pycache__
/ocr1.py
/__pycache__
/Translation/Controller/__pycache__
/Translation/Model/__pycache__
